p{
font-family: 'Droid Sans', sans-serif;
}


form#Reg{
position:fixed;
top:25%;
left:25%;
right:25%;
width:50%;
text-align:center;
background-color:black;
opacity:0.6;
box-shadow: 10px 20px 5px #555555;
}

.NavLogo{
position: absolute;
top: 1.5%;
left: 7%;
height:50px;
width: 18%;
padding:1px;
}

.NavBar{
width:90%;
height:60px;
background-color: #3399FF;
margin-left: auto;
margin-right: auto;
border-radius:6px;
}

.NavButton{
border-color:white;
border-left-style:solid;
border-width: 1px;
width:24%;
height:60px;
float:left;
text-align:center;
}

h6{

font-family: 'Droid Sans', sans-serif;
font-size: 1em;
color: #FFFFFF;

}
h5{
color:#FF0000;
}

button{
background-color: #0080FF;
color: #FFFFFF;
font-family: 'Droid Sans', sans-serif;
border-radius:6px;
cursor: pointer;
}

#loginContainer{
display:none;
position:fixed;
top:25%;
left:25%;
right:25%;
width:50%;
text-align:center;
background-color:black;
}